html(lang="en")
    head 
        title #{title}
    body
        include ../partials/Header
        br
        div#main
            style.
                .collapsible {
                    background-color: #222;
                    color: gold;
                    cursor: pointer;
                    padding: 18px;
                    width: 100%;
                    border: none;
                    text-align: left;
                    outline: none;
                    font-size: 15px;
                }
                
                .active, .collapsible:hover {
                    background-color: #444;
                }
                
                .content {
                    padding: 0 18px;
                    display: none;
                    overflow: hidden;
                    background-color: #f1f1f1;
                }

            h1 #{userAccount.Username}
            br
            h2 Daily Requirements
button.collapsible(type='button') Macro Nutrients
.content
  table
            tr
                td Calories:
                td #{userAccount.Calories} kCal
            tr
                td Carbs:
                td #{userAccount.Carbs} g
            tr
                td Fats:
                td #{userAccount.Fats} g
            tr
                td Protein:
                td #{userAccount.Protein} g
            tr
                td Fibre:
                td #{userAccount.Fibre} g
            tr
                td Water:
                td #{userAccount.Water} L
button.collapsible(type='button') Vitamins
.content
    table
      tr
        td Vitamin A:
        td #{userAccount.VitaminA / 1000} mg
      tr
        td Vitamin B6:
        td #{userAccount.VitaminB6} mg
      tr
        td Vitamin B12:
        td #{userAccount.VitaminB12} mg
      tr
        td Vitamin C:
        td #{userAccount.VitaminC} mg
      tr
        td Vitamin D:
        td #{userAccount.VitaminD} mcg
      tr
        td Vitamin E:
        td #{userAccount.VitaminE} mg
      tr
        td Vitamin K:
        td #{userAccount.VitaminK} mcg
      tr
        td Thiamine:
        td #{userAccount.Thiamine} mg
      tr
        td Riboflavin:
        td #{userAccount.Riboflavin} mg
      tr
        td Niacin:
        td #{userAccount.Niacin} mg
      tr
        td Folate:
        td #{userAccount.Folate / 1000} mg
      tr
        td Pantothenic Acid:
        td #{userAccount.PantothenicAcid} mg
      tr
        td Biotin:
        td #{userAccount.Biotin} mcg
      tr
        td Choline:
        td #{userAccount.Choline} mg
button.collapsible(type='button') Minerals
.content
  table
      tr
        td Calcium:
        td #{userAccount.Calcium} mg
      tr
        td Copper:
        td #{userAccount.Copper} mg
      tr
        td Iron:
        td #{userAccount.Iron} mg
      tr
        td Magnesium:
        td #{userAccount.Magnesium} mg
      tr
        td Manganese:
        td #{userAccount.Manganese} mg
      tr
        td Phosphorus:
        td #{userAccount.Phosphorus} mg
      tr
        td Potassium:
        td #{userAccount.Potassium} mg
      tr
        td Selenium:
        td #{userAccount.Selenium} mcg
      tr
        td Sodium:
        td #{userAccount.Sodium / 1000} g
      tr
        td Zinc:
        td #{userAccount.Zinc} mg
script.
  
  var coll = document.getElementsByClassName("collapsible");
  var i;
  
  for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var content = this.nextElementSibling;
      if (content.style.display === "block") {
        content.style.display = "none";
      } else {
        content.style.display = "block";
      }
    });
  }
  
