html(lang="en")
    head 
        title #{title}
        script(src="/exploreFood.js")
        script.
            var foodList = !{JSON.stringify(foodList)};
            var userAccount = !{JSON.stringify(userAccount)};
            var urlParameters = new URLSearchParams(window.location.search);
            var id = urlParameters.get('id')||0;
            var food = foodList[id];
            var foodProtein = (food['PROTEIN'].NutrientValue);
            console.log(foodProtein);
    body
        include ../partials/Header
        div#main
            style.
                .collapsible {
                    background-color: #222;
                    color: gold;
                    cursor: pointer;
                    padding: 18px;
                    width: 100%;
                    border: none;
                    text-align: left;
                    outline: none;
                    font-size: 15px;
                }
                
                .active, .collapsible:hover {
                    background-color: #444;
                }
                
                .content {
                    padding: 0 18px;
                    display: none;
                    overflow: hidden;
                    background-color: #f1f1f1;
                }
            h1#Name
            button.collapsible(type='button') Macro Nutrients
            .content
                table#Macros
            button.collapsible(type='button') Vitamins
            .content
                table#Vitamins
            button.collapsible(type='button') Minerals
            .content
                table#Minerals
                    tr
                        td Calcium:
                        td #{userAccount.Calcium} mg
                    tr
                        td Copper:
                        td #{userAccount.Copper} mg
                    tr
                        td Iron:
                        td #{userAccount.Iron} mg
                    tr
                        td Magnesium:
                        td #{userAccount.Magnesium} mg
                    tr
                        td Manganese:
                        td #{userAccount.Manganese} mg
                    tr
                        td Phosphorus:
                        td #{userAccount.Phosphorus} mg
                    tr
                        td Potassium:
                        td #{userAccount.Potassium} mg
                    tr
                        td Selenium:
                        td #{userAccount.Selenium} mcg
                    tr
                        td Sodium:
                        td #{userAccount.Sodium / 1000} g
                    tr
                        td Salt:
                        td #{userAccount.Salt} mg
                    tr
                        td Zinc:
                        td #{userAccount.Zinc} mg
            h3 Portions:
            p#PortionTable
            p#SuccessMessages
        script(src="/foodInfo.js")
        script.
            var coll = document.getElementsByClassName("collapsible");
            var i;
            
            for (i = 0; i < coll.length; i++) {
                coll[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                    content.style.display = "none";
                } else {
                    content.style.display = "block";
                }
                });
            }